@{
    ViewData["Title"] = "Home Page";
}
@using OnlineGalerija.Models;
@using OnlineGalerija.Helper;
@model List<Post>
<style>
    .slike {
        width: 17rem;
        height: 16rem;
    }

    .kartice {
        float: left;
        margin-right: 1rem;
        margin-top: 1rem;
        
    }
</style>

<div class="container">
    <button class="btn btn-lg btn-primary" onclick="location.href='/Mongo/AddPost'">Add new post</button>
    <br />
    <br />
    <div class="row">
        @foreach (var x in Model)
        {

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="card border-secondary float-left mb-3 kartice" style="max-width: 17.11rem;">
                    <div class="card-header"><a class="text-dark bg-light font-weight-bolder" style="text-decoration:none;" href="/Mongo/ShowPost/@(x._id)">@x.title</a></div>
                    @foreach (var y in x.images)
                    {
                <a href="/Mongo/ShowPost/@(x._id)"><img class="slike" src="data:image/png;base64,@Methods.ByteAToString(y.image_data)"></a>
                    }
                <div class="card-body">
                    <h5 class="card-title">@x.user.username</h5>
                    
                    @*<p class="card-text">@x.created_at</p>*@
                    <p class="card-text">Hashtags:</p> @foreach (var z in x.hashtags)
                    {
                        <p class="card-text">#@z.text</p>
                    }
                    <hr>
                    <p class="card-text">@x.text</p>

                    <button class="btn btn-success"><i class="far fa-thumbs-up"></i></button>
                    <button class="btn btn-danger"><i class="far fa-thumbs-down"></i></button>


                    <br />
                    <br />
                    <button class="btn btn-sm btn-primary float-sm-left" style="margin-right:10px" onclick="location.href='/Mongo/EditPost/@(x._id)'">Edit post</button>

                    <form asp-action="RemovePost" asp-route-id="@x._id" method="post" class="float-left">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>

                </div>
                    <div class="card-footer text-muted">
                        @x.created_at
                    </div>
                </div>
            </div>

        }
    </div>
    </div>

