@{
    ViewData["Title"] = "Home Page";
}
@model List<OnlineGalerija.PostgresModels.Post>

    <div class="container">
        <br />
        <br />
        <div class="row">
            @foreach (var x in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card border-secondary float-left mb-3 kartice" style="max-width: 18rem;">
                        <div class="card-header text-dark bg-light font-weight-bolder">@x.Id</div>
                        <div class="card-header text-dark bg-light font-weight-bolder">@x.Title</div>
                        <div class="card-body text-primary">

                            <p class="card-text">@x.Text</p>
                            <hr />
                            <a asp-controller="Postgre" asp-action="PostLike" asp-route-id="@x.Id"
                               class="btn btn-sm btn-success"><i class="far fa-thumbs-up"></i></a>
                            <a asp-controller="Postgre" asp-action="PostDislike" asp-route-id="@x.Id"
                               class="btn btn-sm btn-danger"><i class="far fa-thumbs-down"></i></a>
                           
                            <a asp-controller="Postgre" asp-action="Post" asp-route-id="@x.Id"
                               class="btn btn-sm btn-outline-secondary">Detalji</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
